
  /* спасибо за комментарии к работе! */

.header__link:hover, .feynman__link:hover, .footer__column-links:hover {
  color:red;
}



.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: 700;
  display: flex;
  width: 730px;
  margin-left: 64px;
  z-index: 2;

}

.header__subtitle {
  margin:0;
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  width: 388px;
  bottom: 30px;
  left:64px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  background: url(../images/header-image.png);
  background-size: cover;
  position: absolute;
  right: 0;
  bottom:0;
  z-index: 1;
}

.header__square-pic {
background-color: #2f80ed;
width: 568px;
height: 568px;
position: absolute;
right: 0;
top:64px;
z-index: 0;
}






.digits {}








.feynman__title {
  width: 648px;
  margin: 100px auto 0;
  line-height: 1.15;
  font-size: 120px;
  color: #000000;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  margin: 70px auto 0;
  line-height: 51px;
  font-size: 36px;
  color: #000000;
  font-weight: 400;
}

.feynman__link {
  position: absolute;
  right: 48px;
  top: 50%;
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  font-weight: normal;
  margin: 0;
  padding: 0;
  color: #2f80ed;
}

/* theme_dark */



.section-title_theme_dark {
  margin: 90px auto 0;
  z-index: 1;
}

.section-subtitle_theme_dark {
  z-index: 1;
}


.table__heading_theme_dark {
}

.table__text_theme_dark {
}

.kaufman__triangle {
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: -1;
  background: url(../images/kaufman-triangle.svg) #1f1f1f no-repeat;
  background-size: cover;
  top: 0;
}



.footer__column_content_info {
}

.footer__column_content_social {

}



