.khan__book-container {
    margin-top:68px;
    display: flex;
    flex-flow: row;
    width: 620px; /* сначала поставил в блок с картинкой, но обложка книги приняла неправильные пропорции и я не смог это терпеть)) Если нужно по заданию -- верну*/
}